In [68]:
!pip install pickle-mixin

Requirement already satisfied: pickle-mixin in c:\users\bayro\anaconda3\lib\site-packages (1.0.2)

In [69]:
# import libraries
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import pickle

In [70]:
# Read dataset
fish_df = pd.read_csv("Fish.csv")
fish_df.describe(include="all")

,Species,Weight,Length1,Length2,Length3,Height,Width
count,159,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
unique,7,NaN,NaN,NaN,NaN,NaN,NaN
top,Perch,NaN,NaN,NaN,NaN,NaN,NaN
freq,56,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,398.326415,26.247170,28.415723,31.227044,8.970994,4.417486
std,NaN,357.978317,9.996441,10.716328,11.610246,4.286208,1.685804
min,NaN,0.000000,7.500000,8.400000,8.800000,1.728400,1.047600
25%,NaN,120.000000,19.050000,21.000000,23.150000,5.944800,3.385650
50%,NaN,273.000000,25.200000,27.300000,29.400000,7.786000,4.248500
75%,NaN,650.000000,32.700000,35.500000,39.650000,12.365900,5.584500
max,NaN,1650.000000,59.000000,63.400000,68.000000,18.957000,8.142000

In [71]:
# Extract independent features
X = fish_df.drop('Species', axis=1)

# Extract target feature
y = fish_df['Species']

# Split into train and testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [72]:
# Initialize and fit model
model = LogisticRegression(max_iter=100000)
model.fit(X_train, y_train)
# Calculate and show accuracy
accuracy = model.score(X_test, y_test)
print(f"Logistic Regression Accuracy: {accuracy}")

Logistic Regression Accuracy: 0.84375

In [73]:
index = 0
y_pred = model.predict([X_test.iloc[index]])
print("Predicted:", y_pred, "; Expected:", y_test.iloc[index])

Predicted: ['Bream'] ; Expected: Bream

In [74]:
# save the model
print("Saving the model to file 'model.pkl'...")
pickle_out = open("model.pkl", "wb")
pickle.dump(model, pickle_out)

Saving the model to file 'model.pkl'...